/******* Debug ******/


/******* Common ******/


/******* Header ******/

header{
    background-color: #2c3e50;
}


/******* Main ******/

.jumbotron{
    background-color: #1abc9c;
}

.jumbotron .container ._sa-container-img{
    height: 260px;
    width: 230px;
}

._ms_img-container{
    width: 360px;
    height: 260px;
}

._ms_img-container img{
    width: 100%;
}

.portfolio{
    color: #2c3e50;
}


/******* Footer ******/