/******* Debug ******/


/******* Common ******/


/******* Header ******/

header{
    background-color: #2c3e50;
}


/******* Jumbotron ******/

.jumbotron{
    background-color: #1abc9c;
}

.jumbotron .container ._sa-container-img{
    width: 240px;
}

/****** Portfolio *******/


._ms_img-container{
    width: 495px;
}

.portfolio{
    color: #2c3e50;
}

/****** About *****/

.about{
    background-color: #1abc9c;
    color: white;
}

/****+ Contact *****/

.contact{
    color: #2c3e50;;
}

.contact .contact-form input{
    border-width: 0px 0px 1px 0px;
    border-radius: 0;
}


.contact .contact-form input::placeholder{
    color: black;
}

.contact .contact-form input:nth-child(4){
    padding-bottom: 150px;
}

.contact .contact-form button{
    background-color: #1abc9c;
    border: 0;
}

/******* Footer ******/

footer{
    color: white;
}

footer .footer-head{
 background-color: #3a546d;
}

footer .footer-head #green-text{
    color: #1abc9c;
}

footer .footer-bottom{
    background-color: #2c3e50;
}

footer ul{
    list-style: none;
}

footer button{
    height: 3.4375rem;
    width: 3.4375rem;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #3a546d;
    margin-right: 10px;
}
