/******* Debug ******/


/******* Common ******/



/******* Header ******/



/******* Main ******/
._ms_img-container{
    width: 360px;
    height: 260px;
}

._ms_img-container img{
    width: 100%;
}


/******* Footer ******/